<%= form_with model: [game, game.generations.build] do |form| %>

  <% if game.errors.any? %>
   <ul>
     <% game.errors.each do |error| %>
     <li><%= error.full_message %></li>
     <% end %>
   </ul>
  <% end %>

  <%= form.label :file %><br>
  <%= form.file_field :initial_board %>

  <%= form.submit "Start game" %>
<% end %>
