
<nav>
  <%= link_to "All games", root_path %>
  <%= link_to "All game generations", game_path(@game) %>
</nav>

<pre>
Generation <%= @generation.step %>:
<%= @game.height %> <%= @game.width %>  
<%= @generation.board %>
</pre>

<% unless @generation.initial? %>
  <%= link_to "Back", game_generation_previous_path(@game, @generation) %>
<% end %>
  
<%= link_to "Next", game_generation_next_path(@game, @generation) %>
